#main-header {
	
	color: white;
	height: 110px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	width: 380px;
    height: 150px;
	background-image: url(../images/logo.png);
}
	
 /* MAIN NAVIGATION------>  */
#navigation {
}
ul#main-nav {
    display: block;
    width: 968px;
    height: 46px;
    border: 1px solid #dce4e3;
    background-color: #f7f9f9;
    margin: 0 auto;
    list-style: none;
    font-size: 1em;
    color: #706a66;
}
#main-nav li {
    float: left;
    line-height: 46px;
    background: url(../images/separator-main-nav.jpg) right -2px no-repeat;
}
#main-nav li a {
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    color: #706a66;
    text-decoration: none;
}
#main-nav li a:hover {
    color: #002b44;
}
#main-nav li a.selected {
    color: #002b44;
    background: url(../images/selected-main-nav.jpg) left -1px no-repeat;
    margin-left: 18px;
}
 				

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
	background: #f3f3f0 url(../images/header-background.png) center 0 no-repeat;
}
}