#main-header {
	
	color: white;
	height: 110px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	width: 380px;
    height: 150px;
	background-image: url(../images/logo.png);
}
	
 
body {
	
	background: #f3f3f0 url(../images/header-background.png) center 0 no-repeat;
}
